@model IEnumerable<Main.Application.Dtos.ItemFieldValueDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FieldName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (item.TextValue != null)
                @Html.DisplayFor(modelItem => item.TextValue)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MultilineTextValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BooleanValue)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
