@using Main.Application.Dtos.Inventories.Index
@model IEnumerable<InventoryDto>
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["Title"] = @Localizer["Inventories"];
}

<h1>@Localizer["Inventories"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">@Localizer["Create New"] @Localizer["Inventory"]</a>
    <button type="button" id="deleteSelected" class="btn btn-danger">@Localizer["Delete"]</button>
</p>

<div class="tab-pane fade show active" id="my-inventories" role="tabpanel" aria-labelledby="my-inventories-tab">
    <partial name="_InventoryTable" model="Model" view-data="@(new ViewDataDictionary(ViewData) { { "TableType", "sharedInventoriesTable" } })" />
</div>

@section Scripts {
    <script>
        document.getElementById('deleteSelected').addEventListener('click', function () {
            const selectedCheckboxes = document.querySelectorAll('.rowCheckbox:checked');

            if (selectedCheckboxes.length === 0) {
                alert('@Localizer["Please select at least one inventory to delete."]');
                return;
            }

            if (confirm('@Localizer["Are you sure you want to delete the selected?"]')) {
                const form = document.createElement('form');
                form.method = 'post';
                form.action = '@Url.Action("Delete")';

                selectedCheckboxes.forEach(checkbox => {
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = 'selectedIds';
                    input.value = checkbox.value;
                    form.appendChild(input);
                });

                document.body.appendChild(form);
                form.submit();
            }
        });
    </script>
}